<div class="popup-add-section">
    <div class="popup-add-section-background">
        <div class="popup-add-section-body text-center">
            <div class="display-6 ">Добавление раздела</div>
            <hr />
            <div class="popup-add-section-body-controls">
                <form class="popup-form" asp-controller="Home" asp-action="AddSection">
                    <input id="nameSection" name="nameSection" type="text" class="input-text-popup" placeholder="Название раздела (ресурсы)" />
                    <textarea id="descriptionSection" name="descriptionSection" class="input-text-popup text-area" placeholder="Описание раздела"></textarea>

                    <button id="addSectionBtn__popup" class="btn btn-primary" type="submit">Сохранить</button>
                </form>
            </div>
        </div>
    </div> 
</div>