@using Models = TaskTrackerApp.Models;

@inject IViewLocalizer Localizer
@model TaskTree
@{
    ViewData["Title"] = "Home Page";
}

<div class="column-first">

    <div class="head-navigate-panel" style="">
        <h2>@Localizer["TaskList"]</h2>
        <button id="addSectionBtn" class="btn btn-primary"><div class="plus-symbol"></div></button>
    </div>

    <nav class="navigate-panel" >
        <partial name="TreePartial"/>
    </nav>
</div>

<div class="column-second">
    <div class="text-center mainpage">
        <h1 id="mainTitle" class="display-4">@Localizer["StrSelectTask"]</h1>
        <partial name="TaskInfos"/>
        <hr id="hr__mainDescription" />
        <p id="mainDescription"></p>
    </div>
</div>

<partial name="AddSectionPartial"/>
<partial name="AddTaskPartial"/>
<partial name="AddSubtaskPartial"/>

@section Scripts {
    <script src="~/scripts/mainTaskTree.js"></script>
    <script src="~/scripts/throughLineTasks.js"></script>
    <script src="~/scripts/threeDotControll.js"></script>
    <script src="~/scripts/add.js"></script>
    <script src="~/scripts/tasktree.js"></script>
    <script src="~/scripts/validation.js"></script>
    <script src="~/scripts/edit.js"></script>
}




