<div class="item-attributes">

    <div class="item-attr attr-date-register">
        <b>Дата регистрации: </b>
        <br />
        <div class="item-attr-value"></div>
    </div>
    <div class="item-attr attr-status">
        <b>Статус: </b>
        <br />
        <div class="item-attr-value"></div>
    </div>
    <div class="item-attr attr-labor">
        <b>Плановая трудоемкость: </b>
        <br />
        <div class="item-attr-value"></div>
    </div>
    <div class="item-attr attr-date-execution">
        <b>Дата завершения: </b>
        <br />
        <div class="item-attr-value"></div>
    </div>
    <div class="item-attr attr-actual-date">
        <b>Фактическая дата завершения: </b>
        <br />
        <div class="item-attr-value"></div>
    </div>
    <div class="item-attr attr-actual-date-execution">
        <b>Фактическое время выполнения: </b>
        <br />
        <div class="item-attr-value"></div>
    </div>

    <div class="item-attr attr-performers-list">
        <b>Список исполнителей:</b>
        <br />
        <div class="item-attr-value"></div>
    </div>

</div>