.side-menu-toggle input {
    opacity: 0;
    height: 0;
    width: 0;
}

.side-menu-toggle {
    position: relative;
    width: 30px;
    height: 30px;
}

.three-dot-div {
    display: inline;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0.3;

}

    .three-dot-div:active .three-dot-piece {
        fill: #52affe;
    }

.three-dot-svg {
    height: 20px;
    width: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
    
}

.three-dot-piece {
    fill: #808080;
}

button{
    border: none;
}

    