.popUp-view {
    background-color: white;
    width: 100px;
    height: 130px;
    position: absolute;
    left: 15px;
    display: inline-flex;
    flex-direction: column;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms;
    z-index: 1;
    box-shadow: rgba(0,0,0,0.5) 0px 0px 10px;
}

.popUp-view-background {
    background: transparent;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    visibility: visible;
}

.btn-primary-popup {
    background-color: lightgray;
    height: 20px;
    width: 100%;
    border-radius: 0;
    position: relative;
    left: 0;
    top: 5px;
    font-size: 12px;
    text-align: center;
    padding: 0;
    transition: 300ms;
}

    .btn-primary-popup:hover {
        background-color: #52affe;
    }

    .btn-primary-popup:active {
        background-color: lightgray;
    }

.popup-add-section, .popup-add-task, .popup-add-subtask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.25s;
}

.popup-add-section-background, .popup-add-task-background, .popup-add-subtask-background {
    background: #0000008c;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
}

.popup-add-section-body, .popup-add-task-body, .popup-add-subtask-body {
    background: white;
    position: relative;
    width: 500px;
    height: 400px;
    top: 35px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: #0000008c 1px 1px 15px;
    z-index: 1;
}

.popup-add-task-body, .popup-add-subtask-body {
    height: 500px;
}

.popup-add-section-body-controls, .popup-add-task-body-controls, .popup-add-subtask-body-controls {
    background: #00000009;
    border-radius: 0 0 15px 15px;
    position: inherit;
    padding: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.input-text-popup {
    border: none;
    border-radius: 8px;
    margin: 0 0 15px 0;
    height: 25%;
    width: 60%;
    
}

    .text-area {
        height: 150px;
        width: 400px;
        resize: none;
    }

.popup-form {
    position: inherit;
    width: inherit;
    height: inherit;
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    justify-content: inherit;
}

.popup-inner-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    
}