html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 1536px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 1352px) {
    html {
        font-size: 13px;
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

ul{
    list-style-type: none;
}

footer{
    line-height: 0px;
}

.container {
    max-width: 100%;
}


.navigate-panel {
    position: absolute;
    height: 500px;
    width: inherit;
    overflow-y: auto;
    width: 29.5%;
}

#mainDescription {
    margin: 0 10px 0 10px;
    text-indent: 25px;
    text-anchor: start;
    text-align: justify;
    font-size: 15px;
    height: 100%;
    overflow-y: auto;
}

.item-attributes {
    visibility: visible;
    height: auto;
    width: auto;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}
.item-attr {
    background: white;
    box-shadow: #00000033 1px 1px 10px;
    border-radius: 8px;
    padding: 2px 5px 2px 5px;
    margin-bottom: 10px;
    

}

.em-hidden {
    float: left;
    width: 0px;
    height: 0px;
    visibility: hidden;
    font-size: 0px;
}

.hidden-item {
    width: 0px;
    height: 0px;
    visibility: hidden;
    font-size: 0px;
}