html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 1536px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 1352px) {
    html {
        font-size: 13px;
    }
}

body {
  margin-bottom: 60px;

}

ul{
    list-style-type: none;
}

footer{
    line-height: 0px;
}

.container {
    max-width: 100%;
}


.navigate-panel {
    position: absolute;
    height: 500px;
    width: inherit;
    overflow-y: auto;
    width: 29.5%;
}

#mainDescription {
    margin: 0 10px 0 10px;
    text-indent: 25px;
    text-anchor: start;
    text-align: justify;
    font-size: 15px;
    height: 100%;
    overflow-y: auto;
}

.item-attributes {
    visibility: visible;
    height: auto;
    width: auto;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}
.item-attr {
    background: white;
    box-shadow: #00000033 1px 1px 10px;
    border-radius: 8px;
    padding: 2px 5px 2px 5px;
    margin-bottom: 10px;
    

}

.em-hidden {
    float: left;
    width: 0px;
    height: 0px;
    visibility: hidden;
    font-size: 0px;
}

.hidden-item {
    width: 0px;
    height: 0px;
    visibility: hidden;
    font-size: 0px;
}

select {
    border-radius: 8px;
    border: none;
}
.input-date {
    border-radius: 8px;
    border: none;
}


.input-validate {
    animation: shake 0.9s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {

    10%, 90% {
        transform: translate3d(-1px, 0, 0);
        border: 2px solid #ffabab;
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}